[Unit]
Description=Nextronic Viogris
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/nextronic/APP_Launcher/deploy
ExecStart=/home/nextronic/APP_Launcher/deploy/viogris.sh
# Retour au menu en écran droit : rm xorg.conf -> restart startx -> start app-launcher
ExecStopPost=/bin/bash /home/nextronic/APP_Launcher/deploy/rotate-launch.sh off app-launcher.service

[Install]
WantedBy=multi-user.target
